<h1>welcome </h1>
<p><%= link_to 'signup',new_user_registration_path %></p>
<% if user_signed_in? %>
  
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        

<% else %>
  <%= link_to('Login', new_user_session_path)  %>  
<% end %>